oauth_creds/*
*.pyc
dump.rdb
play_logs/*
local_config.yaml
__pycache__/
.DS_Store
*.pyo
.env
github_deploy_key
github_deploy_key.pub
node_modules/
.idea/
.helios/
static/__MACOSX/.cache
.cache
cookies.txt
*.egg-info/
