version: "3"
services:
  db:
    image: "postgres:11"
    container_name: "my_postgres"
    ports:
      - "54320:5432"
    volumes:
      - my_dbdata:/var/lib/postgresql/data

  andre:
    build: .
    depends_on:
      - db
    ports:
      - "5000:5000"
    links:
      - db   

volumes:
  my_dbdata:
