requests
flask>=2.0
flask-assets
gevent-websocket
gevent
pyyaml
redis>=4.0
gunicorn
websocket-client
spotipy
python-dateutil
jinja2
itsdangerous
werkzeug
click
psycopg2-binary
simplejson
pytest
fakeredis>=2.0
