:root {
  --accent-color: #1ed760;
  --accent-color-rgb: 30, 215, 96;
  --accent-hover: #6bfc61;
  --accent-hover-rgb: 107, 252, 97;
}

html, body {margin: 0;height:100%;padding:0;background:rgb(0,0,30);}
html {
  overflow-y:scroll;
  background-color: #111;
}

@font-face {
  font-family: 'Circular';
  src: url('/static/CircularSpotify_Text/CircularSpotifyText-Medium.otf'); /* IE9 Compat Modes */
}

body, h1, h2, h3, h4, h5, h6, div, a {
  /*font-family: 'Exo 2', serif;*/
  font-family: 'Circular', sans-serif;
  color: var(--accent-color);
}

h1, h3 {
  font-weight: 700;
}
h2, h4 {
  font-weight: 400;
}

a:visited, a:active, a:focus, a:hover {
    text-decoration: none;
    color: var(--accent-hover);
}

a:hover, a:active {
   -webkit-stroke-width: 5.3px;
   -webkit-stroke-color: var(--accent-hover);
   -webkit-fill-color: var(--accent-hover);
   text-shadow: 1px 0px 20px var(--accent-hover);
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */
}

#page-container {
  min-height: 100%;
  position: relative;
  background-color: #111;
}


#left {width:400px; float:left; background: rgb(31, 31, 31);min-height:100%;}
#right{float:right;}

#top-row {width:100%;background-color:#222;height:270px; position: relative;}
#now-playing-text {padding-top:15px; padding-left:20px; height:220px;display:inline-block; overflow:hidden; position: absolute;}
#now-playing-text h1 {margin: 0px;}
#now-playing-jammers {left: 0; bottom: -2px; padding-left:20px;height:50px; overflow:hidden; position: absolute;}
#now-playing-jammers .bigjammer {
float:left; width:30px; height:30px;
        background-position: center center;
            background-size:cover;margin-right:3px; border-radius:2px; background-repeat:no-repeat;
}

#now-playing-text .comment-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
.popover {
  background: #333;
  z-index: 9999;
}
.popover.left .arrow::after {
  border-left-color: #333;
  background: transparent;
}
.popover.bottom .arrow::after {
  border-bottom-color: #333;
  background: transparent;
}
#now-playing-text .popover {
  left: -415px !important;
  z-index: 999999;
}
#now-playing-text .popover .arrow {
  display: none;
}

#playing-buttons {position:absolute; bottom: 0; right:180px;}
#playing-buttons a {display:block; padding: 8px 20px;
            font-size:18px; margin: 0;}
#playing-buttons a:hover {background:rgba(0,0,0,0.4);text-decoration:none;}
#now-playing-person {float:right; height:270px; width:180px;background-repeat:no-repeat;background-position:center;background-color:black;background-size:contain;}

#now-playing-album {background:#00000F; height:400px;width:400px;float:left;position:absolute;z-index:1000;background-repeat:no-repeat;background-size:contain;}
#progress-wrapper {width:400px; margin-top:392px;z-index:2000;position:absolute;}
#playing-progress {background: rgba(var(--accent-hover-rgb), 0.85); height:8px; width: 0px;-webkit-transition: width 500ms;transition:width 500ms;}

#left-col-menu {width:400px;float:left;background:rgb(31, 31, 31);margin-top:400px;}

.menu-item {display:inline-block;width:121px;margin:0;padding:10px 5px;text-align:center;color: rgb(var(--accent-hover-rgb));border-right:1px solid rgba(0,0,0,0.4);}
.menu-item:hover {text-decoration: none; background:rgb(0,0,0,0.8); color: rgb(var(--accent-hover-rgb));}

.menu-item.active {background: rgba(0,0,0,0.2); text-decoration:none; color:rgb(var(--accent-hover-rgb));}
#tabs > div {display:none; min-height: 700px;}
#tabs > div.visible {display:block;}
.left-button {width: 360px; display: block; float:left; padding: 20px;
                text-align:center;font-size:20px;
                border-top: 1px solid rgba(0, 0, 0, 0.4);}
.left-button:hover, .left-button:focus {text-decoration:none; background: rgb(31, 31, 31);color: rgb(var(--accent-hover-rgb));}

.search-item {width: 400px;cursor:pointer;border-bottom:1px solid rgba(17, 17, 17, 0.8);display:table-row;}
.search-item:nth-child(even) {background-color:rgba(0,0,0,0.3);}
.search-item h4, .search-item h5 {margin:0;padding:0;}
.search-item:hover {background: rgba(255,255,255,0.1);}
.search-item .text {color:#EEEEFF;width:320px;padding:0 10px;display:table-cell;}
.search-item .icon {height:60px;width:60px;
            background: no-repeat center center; background-size:contain;
            display:table-cell;}
#song-search input {width:376px;padding:10px;
                    background: rgba(2555,255,255,0.3);
                    color: #FFFFFF;border-radius:0;
                    border:2px solid rgba(255,255,255,0.4);}
#song-search {margin:0;}

#uri-search input {width:376px;padding:10px;
                    background: rgba(2555,255,255,0.3);
                    color: #FFFFFF;border-radius:0;
                    border:2px solid rgba(255,255,255,0.4);}
#uri-search {margin:0;}

#bottom-row {width:100%;}
.queue-item {
  width:100%;
  margin-top:1px;
}
.queue-item-inner{width:100%;background: rgb(31, 31, 31);height:65px;}
.queue-item-inner:hover{background: rgb(71, 71, 71);}
.queue-item h3, .queue-item h4, .queue-item h5 {margin:0;}
.queue-item-text {padding-left:10px;display:inline-block;height:65px;text-overflow:hidden;overflow:hidden;float:left;}
.queue-item .album-image {height:61px;width:61px;margin:2px;background:url(http://placekitten.com/65/65);background-size:cover;display:inline-block;float:left;}
.queue-item .person-image {height:65px;width:43px;background:url(http://placekitten.com/43/65);position:absolute;right:0;background-size:cover;display:inline-block;}
.playlist-src-item {color: #F0F0F0;}
.playlist-src-item .album-image {background-size: contain;background-position:center;background-repeat:no-repeat;}
.controls {height:65px; display:inline-block; width:88px;position:absolute;right:43px;
  background:rgba(0,0,0,0.3);
}

.queue-item .controls {
  text-align: center;
}

.queue-item .controls .left-controls-col {
  width: 24px;
}

.comment-button .popover {
  max-width: none;
}

.comment-button .popover-content {
  max-width: none;
}

.comments-popover {
  color: #0e0e0e;
  width: 100%;
  max-height: 380px;
  overflow: auto;
  background-color:#333;
}

.comments-popover input.hidden {
  display: none;
}

.comments-popover .comment-list {
  border-style: solid;
  border-color: #333;
  border-width: thin;
  padding: 5px;
}

.comment-item {
  font-size: 90%;
  padding: 3px;
}

.comments-popover .avatar {
  width: 20px;
  height: 20px;
}

.comments-popover .time {
  color: #737373;
}

.playlist-src-item .controls .flat-button {height:17px;line-height:17px;}
.playlist-src-item .controls .flat-button:last-child {height:17px;}
.controls .flat-button {height:16px;width:100%;display:block;text-align:center;color:rgb(var(--accent-hover-rgb));font-size:14px;}
.controls .flat-button:last-child {height:17px;}
.controls .flat-button:hover {
  text-decoration: none;
  background:rgba(0,0,0,0.8);
  color:rgb(var(--accent-hover-rgb));
  font-weight:900;
}
.controls.voted .vote-down, .controls.voted .vote-up {
    background:rgba(0,0,0,0.3); color: rgba(255, 255, 255, 0.3);}

#chat-msgs {height: 300px; overflow-y:scroll; width:400px;}
#chat-msgs .chat-msg {color: #383838;border-top:1px solid rgba(0,0,0,0.2);}
#chat-msgs .chat-msg:nth-child(even) {background: rgba(220,220,255,0.1);}
#chat-msgs .chat-msg div {display:inline-block;}
#chat-msgs .chat-msg .nick {width:90px; text-align:right;vertical-align: top;
                            font-weight:900;}
#chat-msgs .chat-msg .msg {width:275px;}
#chat-send input {width:376px;padding:10px;
                    background: rgba(2555,255,255,0.3);
                    color: #383838;border-radius:0;
                    border:2px solid rgba(255,255,255,0.4);}
#ytapiplayer {position:absolute;top:0;left:0; z-index:900;}

#volume-tab {
    color: #EEEEFF;
    padding: 5px 20px;
    width: 360px;
}
#volume-tab input {width:340px; background:rgba(255,255,255,0.1); height:10px; border-radius: 5px;
    -webkit-appearance: none !important;
}
#top-row.autoplay {
    background-image: url(/static/gears.png);
}

.jammer {float:right; width:20px; height:20px; border-radius:2px;
        background-position: center center;
        background-size:cover;margin-right:2px; background-repeat:no-repeat;}
.jammers {z-index:9999;right:134px;margin-top:8px;position:absolute;}

#confirm {width:80%; position:fixed; top: 200px; background: rgb(31, 31, 31);
            color: #F0F0F0; z-index:99999;margin:0 9%; text-align:center;
            padding: 10px;box-shadow: 4px 4px 4px rgba(0,0,0,0.3);}
#confirm a {display:inline-block; background: rgba(255,255,255,0.2); 
            padding:5px 20px; width:30px; color: #b9b9b9;}
#confirm a:hover {text-decoration:none; background: rgba(0,0,0,0.1);}

.airhorn {
    height: 65px; width:400px;clear:both; overflow: hidden;
    color: #b9b9b9; margin-bottom: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}
.airhorn.free {background:rgba(0,0,0,0.7); color: #EEEEFF;}
.airhorn-icon { height:65px; width:65px; float:left; background-size:contain;
                    margin-right: 10px;}
.airhorn-person {height:65px; width:43px; float:right; background-size:contain;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
}
.airhorn h3, .airhorn h4 {overflow:hidden;}
.airhorn h3 {font-size:18px; margin: 0 0 5px;}
.airhorn h4 {font-size:12px; margin: 0;}
#uri-help h4 {margin: 20px;}
#talkie-help h4 {color:white;}
#do-free-airhorn.disabled {display:none;}
#make-player.disabled {display:none;}
#connect.disabled {display:none;}

/* Paused state - album art overlay */
/* Note: #now-playing-album already has position:absolute, keep it */

#now-playing-album.paused::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1001;
}

#now-playing-album.paused::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    z-index: 1002;
    /* Pause icon bars using gradient */
    background-image: linear-gradient(to right,
        transparent 25%,
        #fff 25%,
        #fff 40%,
        transparent 40%,
        transparent 60%,
        #fff 60%,
        #fff 75%,
        transparent 75%
    );
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}
