<!DOCTYPE html>
<html>
    <head>
        <title>Andre</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" type="text/css">
        <link rel="shortcut icon" href="/static/favicon.png">
    </head>
    <body>
        <div class="container">
            <h2>Join the Daily Mix Party</h2>

        <form class="form-inline" role="form" method="POST">
        <div class="form-group">
            <label class="sr-only" for="exampleInputSpotuser">Spotify Username</label>
            <input type="text" class="form-control" id="exampleInputSpotuser" placeholder="Enter spotify username" name="spotuser" required>
        </div>
        <div class="form-group">
            <label class="sr-only" for="mixSelect">Mix Number</label>
	    <select name="mixSelect" id="mixSelectExample">
	      <option value="Mix_1">Mix_1</option>
	      <option value="Mix_2">Mix_2</option>
	      <option value="Mix_3">Mix_3</option>
	      <option value="Mix_4">Mix_4</option>
	      <option value="Mix_5">Mix_5</option>
	      <option value="Mix_6">Mix_6</option>
	      <option value="Leave">Leave</option>
	    </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </form>
        </div>
    </body>
</html>
